<div class="container text-left text-light align-middle">
  <h3>Log in to start planning your dog dates!</h3>

  <%= form_tag(sessions_path) do %>
    <%= label_tag "Email" %><br>
    <%= text_field_tag "email", nil, class: "form-control-lg" %><br>

    <%= label_tag "Password" %><br>
    <%= password_field_tag "password", nil, class: "form-control-lg" %><br><br>

    <%= submit_tag "Log In", class: "btn btn-success btn-lg" %>
  <% end %>

</div>
