<div class="col-lg-4 text-<%= align %> mb-4">

    <% if complete == true %>
      <h2 class="yellow-text"><%= dog.name %></h2>
    <% end %>

    <%= image_tag("#{dog_image(dog)}", class: "dog-img") %>

    <div class="<%= div_class %>">

      <% if complete == false %>
        <div class="bottom-text">
        <h3><a href="<%= user_dog_path(current_user, dog) %>" class="yellow-link"><%= dog.name %></a></h3>
      <% end %>

        <%= "#{dog.age} years old" if dog.age %> <br>
        <%= "#{dog.weight} lbs." if dog.weight %><br>
        <%= "#{dog.breed}" if dog.breed %><br>
        <%= "#{dog.sex}" if dog.sex %><br>

        <% if complete == true %>
          Fixed? <%= fixed_to_string(dog) %><br>

            How friendly?<br>
            <%= friendly_icons(dog).html_safe if dog.friendly_rating %><br>

            How aggressive?<br>
            <%= aggressive_icons(dog).html_safe if dog.aggressive_rating%><br>

        <% end %>

      <% if complete == false %>
        </div>
      <% end %>
    </div>
</div>
