<div class="col-lg-4 text-<%= align %> mb-4">
    <% if complete == true %>
      <h2 class="yellow-text"><%= dog.name %></h2>
    <% end %>
    <%= image_tag("#{dog_image(dog)}", class: "dog-img") %>

    <div class="<%= div_class %>">
      <% if complete == false %>
        <h3><a href="<%= user_dog_path(current_user, dog) %>" class="yellow-link"><%= dog.name %></a></h3>
      <% end %>
      <%= dog.age %> years old<br>
      <%= dog.weight %> lbs.<br>
      <%= dog.breed %><br>
      <%= dog.sex %><br>
      <% if complete == true %>
        Fixed? <%= dog.fixed_to_string %><br>

        <% if dog.friendly_rating %>
          How friendly?<br>
          <% dog.friendly_rating.times do %>
          <i class="fas fa-smile yellow-text"></i>
          <% end %>
          <% (10 - (dog.friendly_rating)).times do %>
          <i class="fas fa-smile invert"></i>
          <% end %><br>
        <% end %>

        <% if dog.aggressive_rating %>
          How aggressive?<br>
          <% dog.aggressive_rating.times do %>
          <i class="fas fa-angry red-text"></i>
          <% end %>
          <% (10 - (dog.aggressive_rating)).times do %>
          <i class="fas fa-angry invert"></i>
          <% end %><br>
        <% end %>

      <% end %>
    </div>

</div>
