<div class="container text-left text-light align-middle">
  <%= link_to "Add a dog", new_user_dog_path(current_user), class: "btn btn-success btn-lg" %><br><br>

    <% @dogs.all.each_with_index do |dog, i| %>
      <% if ((i % 3 == 0) || i == 0) %>

        <div class="row">

      <% end %>
      <div class="col-sm-4 text-center">

          <%= image_tag("#{dog_image(dog)}", class: "dog-img") %>

          <div class="overlay">
            <h3><a href="<%= user_dog_path(current_user, dog) %>" class="yellow-link"><%= dog.name %></a></h3>
            Age: <%= dog.age %><br>
            Weight: <%= dog.weight %><br>
            Breed: <%= dog.breed %><br>
            Sex: <%= dog.sex %><br>
          </div>

      </div>
      <% if (i + 1) % 3 == 0  %>

      </div>
      <br>
      <% end %>
    <% end %>

</div>
