<div class="container text-left text-light align-middle">
  <h3>Enter your dog's details below.</h3>

  <%= form_for @dog, url: user_dogs_path do |dog| %>
    <%= dog.label :name %><br>
    <%= dog.text_field :name %><br>

    <%= dog.label :age %><br>
    <%= dog.number_field :age %><br>


    <%= dog.label :breed %><br>
    <%= dog.select :breed, options_for_select(breeds_for_select) %><br>


    <%= dog.label :sex %><br>
    <%= dog.label "Male" %>
    <%= dog.radio_button "sex", "Male" %>
    <%= dog.label "Female" %>
    <%= dog.radio_button "sex", "Female" %><br>

    <%= dog.submit "Add Dog" %>
  <% end %>
</div>


t.integer "age"
t.string "breed"
t.integer "weight"
t.boolean "fixed"
t.integer "friendly_rating"
t.integer "aggressive_rating"
