<div class="container text-left text-light align-middle">
<h3><%= @dog.name %></h3>
Age: <%= @dog.age %><br>
Weight: <%= @dog.weight %><br>
Breed: <%= @dog.breed %><br>
Sex: <%= @dog.sex %><br>
Fixed? <%= @dog.fixed_to_string %><br>
How friendly? <%= @dog.friendly_rating %><br>
How aggressive? <%= @dog.aggressive_rating %><br>
<p><%= link_to "Update Dog", edit_user_dog_path(current_user, @dog) %></p>
</div>
