<div class="container text-left text-light align-middle">
  <h2><u>Your profile</u></h2>

  Name: <br>
  <%= @user.name %><br>

  Email: <br>
  <%= @user.email %><br>

  City: <br>
  <%= @user.city %><br>

  State: <br>
  <%= @user.state %><br>

  Hobbies: <br>
  <%= @user.hobbies %><br>

  <a class="btn btn-success btn-lg" href="<%= edit_user_path(@user) %>" role="button">Update Profile</a>
</div>
