<%= f.label :name %><br>
<%= f.text_field :name, class: "form-control-sm" %><br>

<%= f.label :location %><br>
<%= f.text_field :location, list: "location_list", class: "form-control-sm" %>
<datalist id="location_list" class="form-control-sm"><option value="Choose a location">Choose a location</option></datalist><br>

<%= f.label :date %><br>
<%= f.date_field :date, class: "form-control-sm" %><br>

<%= f.label :time %><br>
<%= f.time_field :time, class: "form-control-sm" %><br>

<%= f.label :dog_limit %><br>
<%= f.number_field :dog_limit, class: "form-control-sm" %><br>

<%= f.hidden_field :latitude, :value => " " %>
<%= f.hidden_field :longitude, :value => " " %>
