<h3>Enter your playdate details below.</h3>

<%= render partial: "layouts/show_errors", locals: {model: @playdate} %>

<%= form_for @playdate, url: play_dates_path do |f| %>

  <%= render partial: "play_date_fields", locals: {f: f} %>

  <%= f.hidden_field :user_id, :value => current_user.id %><br>

  <%= f.submit "Create Playdate", class: "btn btn-success btn-lg" %>
<% end %>
