<div class="container text-left text-light align-middle form-group">
  <h3>Enter your dog's details below.</h3>

  <%= form_for @playdate, url: play_dates_path do |f| %>
    <%= f.label :location %><br>
    <%= f.text_field :location %><br>

    <%= f.label :date %><br>
    <%= f.date_field :date %><br>

    <%= f.label :time %><br>
    <%= f.time_field :time %><br>

    <%= f.label :dog_limit %><br>
    <%= f.number_field :dog_limit %><br>

    Choose one of your dogs to add to the playdate (or wait until later).<br>
    <%= f.fields_for :dog_play_dates do |d| %>
      <%= d.label :dog_id %><br>
      <%= d.collection_select :dog_id, @dogs, :id, :name %><br>

      <%= d.label :note %><br>
      <%= d.text_area :note %><br>

    <% end %>

    <%= f.submit "Create Playdate" %>
  <% end %>
</div>
