<%= render partial: "update_cancel_play_date", locals: {playdate: @playdate} %>

Name: <%= @playdate.name %><br>
Location: <%= @playdate.location %><br>
Date: <%= @playdate.format_date %><br>
Time: <%= @playdate.format_time %><br>
Dog Limit: <%= @playdate.dog_limit %><br>
Dog Participants: <br>
<ol>
  <% @playdate.dogs.each do |d| %>
    <li><%= link_to d.name, user_dog_path(d.user, d) %><%= link_to ' <i class="far fa-times-circle"></i>'.html_safe, dog_play_date_path(DogPlayDate.find_by(dog_id: d.id, play_date_id: @playdate.id)), data: { confirm: "Are you sure you want to remove #{d.name} from this playdate?" }, method: :delete, class: "red-link" if current_user.dogs.include?(d)%>
        <p>Note: <%= DogPlayDate.find_by(dog_id: d.id, play_date_id: @playdate.id).note %></p>
    </li>
  <% end %>
</ol>

<%= form_for @playdate.dog_play_dates.build do |f| %>
  <%= f.label :dog_id, "Add your dog to this playdate" %><br>
  <%= f.collection_select :dog_id, current_user.dogs, :id, :name, :include_blank => false %><br>

  <%= f.label :note %><br>
  <%= f.text_area :note, class: "form-control-sm" %><br>

  <%= f.hidden_field :play_date_id %>

  <%= f.submit "Join Playdate", class: "btn btn-success btn-lg" %>
<% end %>
