<div class="container text-left text-light align-middle">
  Location: <%= @playdate.location %><br>
  Date: <%= @playdate.date %><br>
  Time: <%= @playdate.time %><br>
  Dog Limit: <%= @playdate.dog_limit %><br>
  <a class="btn btn-primary btn-lg" href="<%= edit_play_date_path(@playdate) %>" role="button">Update Playdate</a>
</div>
