<%= render partial: "update_cancel_play_date", locals: {playdate: @playdate} %>

<div class="playdate-show" data-id="<%= @playdate.id %>" data-uid="<%= current_user.id %>"></div>

<%= form_for @playdate.dog_play_dates.build do |f| %>
  <%= f.label :dog_id, "Add your dog to this playdate" %><br>
  <%= f.collection_select :dog_id, current_user.dogs, :id, :name, :include_blank => false %><br>

  <%= f.label :note %><br>
  <%= f.text_area :note, class: "form-control-sm" %><br>

  <%= f.hidden_field :play_date_id %>

  <%= f.submit "Join Playdate", class: "btn btn-success btn-lg" %>
<% end %>

<%= javascript_include_tag "play_date" %>

<script id="playdate-template" type="text/x-handlebars-template">
  Name: {{name}}<br>
  Location: {{location}}<br>
  Date: {{date}}<br>
  Time: {{time}}<br>
  Dog Limit: {{dogLimit}}<br><br>
  Dog Participants:<br>
  <ol>
    {{#each playDates}}
      <li>
        <a href="/users/{{userId}}/dogs/{{dogId}}">{{dog}}</a> - "{{note}}" {{#deleteButton .}}{{/deleteButton}}<br>
      </li>
    {{/each}}
  </ol>
</script>
<br>
<p id='map'></p>
