<div class="container text-left text-light align-middle">
  Name: <%= @playdate.name %><br>
  Location: <%= @playdate.location %><br>
  Date: <%= @playdate.format_date %><br>
  Time: <%= @playdate.format_time %><br>
  Dog Limit: <%= @playdate.dog_limit %><br>
  Dog Participants: <br>
  <ol>
    <% @playdate.dogs.each do |d| %>
      <li><%= link_to d.name, user_dog_path(d) %></li>
    <% end %>
  </ol>
  <!-- Refactor with partial, local -->

  <%= link_to 'Update Playdate',  edit_play_date_path(@playdate), class: "btn btn-success btn-lg" %><br><br>
  <%= link_to 'Cancel Playdate',  play_date_path(@playdate), data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-danger btn-lg" if @playdate.user == current_user %>
</div>
